<section>
  <div class="page-header">
    <h1>Rendez-vous</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="appointment in vm.appointments"
       ui-sref="appointments.view({ appointmentId: appointment._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posté sur
        <span ng-bind="appointment.created | date:'mediumDate'"></span>
        par
        <span ng-if="appointment.user" ng-bind="appointment.user.displayName"></span>
        <span ng-if="!appointment.user">Supprimer utilisateur</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="appointment.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.appointments.$resolved && !vm.appointments.length">
    Aucun rendez-vous, ajoutez en un <a ui-sref="appointments.create">Nouveau</a>?
  </div>
</section>
