<section>
  <div class="page-header">
    <h1>Mes réunions</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="reunion in vm.reunions"
       ui-sref="reunions.view({ reunionId: reunion._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Pris le:
        <span ng-bind="reunion.created | date:'mediumDate'"></span>
        par:
        <span ng-if="reunion.user" ng-bind="reunion.user.displayName"></span>
        <span ng-if="!reunion.user">Supprimer utilisateur</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="reunion.name"></h4>
      <p class="list-group-item-text" ng-bind="reunion.description"></p>
      <p class="list-group-item-text" ng-bind="reunion.time"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.reunions.$resolved && !vm.reunions.length">
    Aucune réunion, <a ui-sref="reunions.create">ajoutez en une</a>?
  </div>
</section>
