<section>
  <div class="page-header">
    <h1 ng-bind="vm.reunion.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.reunion.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="reunions.edit({ reunionId: vm.reunion._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.reunion.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.reunion.user"
            ng-bind="vm.reunion.user.displayName"></span>
      <span ng-if="!vm.reunion.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.reunion.description"></p>
  <p class="lead" ng-bind="vm.reunion.time"></p>
</section>
